@use 'variables' as v;

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);

header,
nav,
ul,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 80px;
  background-color: v.$header-color;
  padding: 10px;

  nav {
    height: 100%;
    width: v.$width;
    display: flex;
    justify-content: space-between;
  }

  img {
    height: 90%;
  }

  ul {
    gap: 20px;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        color: v.$text-color-primary;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
      }

      a:active,
      a:hover {
        color: v.$secondary-color;
      }
    }
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: v.$button-color;
  color: v.$text-color-secondary;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: v.$secondary-color;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  background-color: v.$main-color;

  section {
    width: v.$width;
    background-color: v.$header-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    height: 670px;
  }

  form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0 80px;

    span {
      color: v.$error-bg;
      display: block;
      margin-top: 10px;
      padding: 0 10px;
      border: 1px solid v.$error-bg;
    }

    span:before {
      content: '❗';
    }

    input,
    textarea {
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      box-sizing: border-box;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: v.$outline;
      background-color: #ffffff;
      box-shadow: #3c425729 0px 0px 0px 1px;
    }

    textarea {
      resize: vertical;
      max-height: 250px;
    }

    input[type=submit] {
      background-color: v.$secondary-color;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

footer {
  background-color: v.$footer-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px 0;

  div {
    display: flex;
    gap: 10px;

    a {
      color: v.$text-color-secondary;
    }

    a:hover {
      color: v.$secondary-color;
    }

    i {
      font-size: 30px;
    }
  }

  p {
    color: v.$text-color-secondary;
    font-size: 12px;
    margin: 0;
  }
}

.allCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: v.$width;
}

.card {
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-radius: 6px;

  img {
    flex: 1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 200px;
    height: 250px;
    object-fit: cover;
  }

  div {
    flex: 2;
  }


  h5 {
    padding-left: 15px;
    font-weight: 500;
    font-size: 18px;
    color: v.$text-color-primary;
  }

  p {
    padding: 0 15px;
  }
}